.serif {
    font-family: 'Noto Serif JP', serif;
}

.Bebas-Neue-p {
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Bebas-Neue {
    font-family: 'Bebas Neue', sans-serif;
}
